//Colores

$black: #000;
$body: rgb(23, 23, 23);
$dark_grey: #333333;
$light_grey: #666666;
$lighter_grey: #999999;
$white: #fff;

$base_red: #e7212c;

//fonts

$ugly_serif: "Lucida Bright", Georgia, serif;
$ugly_sans: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$ugly_display: $ugly_serif;

$serif: "Playfair Display", "Lucida Bright", Georgia, serif;
$serif_alt_1: "Tinos","Lucida Bright", Georgia, serif;
$sans: "PT Sans", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$sans_alt_1: "Lato", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$display: "Yeseva One", "Playfair Display", "Lucida Bright", Georgia, serif;

$ugly_headline: $ugly_sans;
$headline: $sans_alt_1;

$ugly_body_type: $ugly_serif;
$body_type: $serif;
