body
{
  font-family: $ugly_body_type;
  color: $body;
  .wf-active &
  {
    font-family: $body_type;
    line-height: 1.5;
  }
  h1, h2, h3, h4, h5
  {
    line-height: 1.3;
    font-family: $ugly_headline;
    .wf-active &
    {
      font-family: $headline;
    }
  }
}
.wrapper
{
  overflow: hidden;
}
.container
{
  position: relative;
  overflow: hidden;
  max-width: 74.625rem;
  margin: 0em auto;
}

.main-content
{
  overflow: hidden;
  display: inline-block;
  width: 64%;
  margin-right: 2%;
}

@media only screen and (max-width: 1200px)
{
  .container
  {
    max-width: 92%;
  }
}
@media only screen and (max-width: 800px)
{
  .main-content
  {
    width: 100%;
    margin: 0;
  }
}
