$menuBg: lighten($light_grey, 20%);
$activeMenuBg: $light_grey;
.mobile-menu-button
{
  width: 100%;
  padding: 0.8em 0 0.5em 0;
  background: $menuBg;
  a
  {
    color: $white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1.4em;
    &:after
    {
      content: "Menú"
    }
  }
  &.active
  {
    background: $activeMenuBg;
    a:after
    {
      content: "Cerrar Menú";
    }
  }
}

@media only screen and (min-width: 800px){
  .mobile-menu-button
  {
    display: none;
  }
}
