$socialLinksColor: $light_grey;
$socialLInksHover: $dark_grey;
.social
{
  overflow: hidden;
  a
  {
    font-size: 1.6em;
    text-decoration: none;
    color: $socialLinksColor;
    &:hover
    {
      color: $socialLInksHover;
    }
  }
  ul
  {
    margin-left: 0;
    padding-left: 0;
    float: right;
    padding-right: 1em;
    list-style-type: none;
    li
    {
      display: inline-block;
      padding: 0.8em;
    }
  }
  header &
  {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  footer &
  {
    ul
    {
      padding-right: 0;
    }
  }
}

@media only screen and (max-width: 1100px)
{
  .social
  {
    a
    {
      font-size: 1.4em;
    }
    ul
    {
      li
      {
        padding: 0.4em;
      }
    }
  }
}
@media only screen and (max-width: 767px){
  .social
  {
    footer &
    {
      ul
      {
        margin-top: 0;
      }
    }
  }
}
@media only screen and (max-width: 600px){
  .social
  {
    a
    {
      font-size: 1.2em;
    }
    ul
    {
      li
      {
        padding: 0.4em;
      }
    }
    header &
    {
      ul
      {
        margin-bottom: 0.5em;
      }
    }
  }

}
@media only screen and (max-width: 480px){
  .social
  {
    header &
    {
      position: relative;
      ul
      {
        float: none;
        padding: 0;
        margin: 0;
      }
    }
    footer &
    {
      a
      {
        font-size: 1.4em;
      }
      ul
      {
        text-align: center;
        margin-bottom: 0;
        li
        {
          padding-right: 0;
        }
      }
    }
  }
}
