$mostReadLinks: $light_grey;
$mostReadLinksHover: $base_red;
.sidebar
{
  padding-top: 1em;
  overflow: hidden;
  display: inline-block;
  width: 32%;
  vertical-align: top;
}

.siebar-box-container
{
  overflow: hidden;
  width: 100%;
  margin: 1em 0;
}

.side-most-read
{
  h5
  {
    font-family: $ugly_headline;
    font-size: 1.6em;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0.5em;
    .wf-active &
    {
      font-family: $headline;
    }
  }
  ul
  {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
  }
  li
  {
    padding-bottom: 0.8em;
    padding-top: 0.4em;
    border-bottom: 1px solid lighten($mostReadLinks, 20%);
    &:first-child
    {
      padding-top: 0;
    }
    &:last-child
    {
      border: none;
    }
  }
  a
  {
    cursor: pointer;
    font-size: 1.2em;
    color: $mostReadLinks;
    text-decoration: none;
    display: block;
    &:hover
    {
      color: $mostReadLinksHover;
    }
  }
  i
  {
    margin-right: 4px;
  }
}

@media only screen and (max-width: 900px){
  .sidebar
  {
    padding-top: 0;
  }
}

@media only screen and (max-width: 800px){
  .sidebar
  {
    &.side-ad
    {
      display: block;
      width: 100%;
    }  
  }
}
@media only screen and (max-width: 767px){
  .sidebar
  {
    display: none;
  }
}
