$adPlaceholderBg: $black;
.ad-container
{
  overflow: hidden;
  width: 100%;
  padding: 1em 0;
  text-align: center;
}

.ad
{
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
  background: $adPlaceholderBg;
  width: 100%;
  height: auto;
  &.ad-leaderboard {width: 728px; height: 90px; max-width: 728px;}
  &.ad-full {width: 468px; height: 60px; max-width: 468px; margin: 0em 1em;}
  &.ad-half {width: 300px; height: 60px; max-width: 300px;}
  &.ad-skyscraper {width: 300px; height: 600px; max-width: 300px;}
  &.ad-side {width: 300px; height: 250px; max-width: 300px;}
}

@media only screen and (max-width: 1025px)
{
  .ad
  {
    &.ad-full { margin: 0;}
  }

  .sticky {
    .is-stuck {
      position: relative
    }
  }
}
@media only screen and (max-width: 767px)
{
  .ad
  {
    &.ad-leaderboard { width: 468px; height: 60px; max-width: 468px;}
  }
}
@media only screen and (max-width: 480px) {
  .ad
  {
    &.ad-leaderboard, &.ad-full {width: 300px; height: 60px; max-width: 300px;}
  }
}
