.page-title
{
  font-family: $ugly_display;
  font-size: 2.4em;
  line-height: 1.2;
  text-align: left;
  margin-top: 0;
  .wf-active &
  {
    font-family: $display;
  }
}

@media only screen and (max-width: 400px)
{
  .page-title
  {
    margin: 0;
  }
}
