.gallery-nav
{
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -2em;
  z-index: 999;
  a
  {
    margin: 0;
    padding: 0 0.4em 0.1em 0.4em;
    font-size: 4em;
    line-height: 1;
    display: block;
    float: left;
    background: rgba(0, 0, 0, 0.4);
    color: $white !important;
    &.next
    {
      float: right;
    }
  }
}
@media only screen and (max-width: 600px)
{
  .gallery-nav
  {
    a
    {
      font-size: 2.5em;
    }
  }
}
