$button: $black;
$buttonHover: $base_red;
$buttonBg: #f3f3f3;
$buttonBgHover: #f9f9f9;
$buttonAltBg: lighten($dark_grey, 10%);
$buttonAlt: $white;
$buttonAltBgHover: $dark_grey;
.button
{
  font-size: 1em;
  padding: 1em 1.2em;
  color: $button;
  letter-spacing: 1px;
  background: $buttonBg;
  text-decoration: none;
  margin: 1em 0;
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
  border: none;
  outline: none;
  border-radius: 0;
  font-family: $ugly_body_type;
  cursor: pointer;
  &.wf-active
  {
    font-family: $body_type;
  }
  &.button-filter
  {
    padding: 0.5em 1em;
    margin: 0.5em;
  }
  &:hover
  {
    color: $buttonHover;
    background: $buttonBgHover;
  }
  &.alt
  {
    width: 100%;
    color: $buttonAlt;
    background-color: $buttonAltBg;
    cursor: pointer;
    &:hover
    {
      color: $buttonAlt;
      background: $buttonAltBgHover;
    }
  }
}

@media only screen and (max-width: 480px)
{
  .button
  {
    &.button-filter
    {
      margin: 0.5em 1em 0.5em 0;
    }
  }
}
