$sectionborder: $lighter_grey;
.section-title
{
  font-family: $ugly-display;
  padding: 0.5em 0;
  font-size: 1.8em;
  margin: 0;
  text-align: center;
  line-height: 0.3;
  .wf-active &
  {
    font-family: $display;
  }
  span
  {
    display: inline-block;
    position: relative;
    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 5px;
      border-bottom: 1px solid $sectionborder;
      top: 0;
      width: 600px;
    }
    &:before {
      right: 100%;
      margin-right: 15px;
    }
    &:after {
      left: 100%;
      margin-left: 15px;
    }
  }
}

@media only screen and (max-width: 400px){
  .section-title
  {
    line-height: 1.2;
    span
    {
      &:before,
      &:after
      {
        border: none;
      }
    }
  }
}
