$catBg: #f3f3f3;
$catBgHover:#f9f9f9 ;
$catColorHover: $base_red;
.category
{
  padding: 0.5em 0;
  a
  {
    color: $black;
    text-decoration: none;
    padding: 0.2em 0.8em 0.2em 0.6em;
    background: $catBg;
    font-style: italic;
    font-size: 1em;
    &:hover
    {
      cursor: pointer;
      background: $catBgHover;
      color: $catColorHover;
    }
  }
}
