$listHeadline: $light_grey;
$listHeadlineHover: $base_red;
$date: lighten($body, 50%);
.article-list
{
  figure
  {
    margin: 0;
  }
  img
  {
    width: 100%;
  }
  ul
  {
    list-style-type: none;
    padding-left: 0;
    overflow: hidden;
    clear: both;
  }
  li
  {
    overflow: hidden;
    width: 100%;
    margin-bottom: 1em;
  }
  .image
  {
    display: inline-block;
    width: 25%;
    margin-right: 3%;
  }
  .text
  {
    width: 70%;
    display: inline-block;
    vertical-align: top;
  }
  p
  {
    margin-top: 6px;
  }
  h2
  {
    float: left;
    margin-top: 5px;
    margin-right: 10px;
  }
  input [type="submit"]
  {
    clear: left;
  }
  small
  {
    color: $date;
  }
  .list-item-title
  {
    display: block;
    font-size: 1.8em;
    line-height: 1.4;
    text-decoration: none;
    color: $listHeadline;
    cursor: pointer;
    margin: 0;
    font-family: $ugly_headline;
    .wf-active &
    {
      font-family: $headline;
    }
    &:hover
    {
      color: $listHeadlineHover;
    }
  }
  a
  {
    color: inherit;
    text-decoration: none;
  }
}

.pagination
{
  display: inline-block;
  border-radius: 4px;
  width: auto;
  border-right: 1px solid $light_grey;
  border-left: 1px solid $light_grey;
  li
  {
    margin: 0;
    display: inline;
    text-align: center;
    font-size: 1em;
    &.active
    {
      a, span
      {
        background: $base_red;
        color: $white;
      }
    }
    a, span
    {
      border: 1px solid $light_grey;
      position: relative;
      float: left;
      padding: 4px 12px 6px 12px;
      margin-left: -1px;
      line-height: 1.42857143;
      &.first
      {
        border-left: none;
      }
      &.last
      {
        border-right: none;
      }
    }
    a
    {
      &:hover
      {
        background: lighten($lighter_grey, 30%);
      }
    }
  }
}

@media only screen and (max-width: 480px)
{
  .article-list
  {
    h2
    {
      float: none;
      margin-bottom: 10px;
    }
    .image, .text
    {
      width: 100%;
    }
  }
}
