$categoryBg: lighten(#ccc, 15%);
$headlineColor: $black;
$headlineColorHover: $base_red;
$paragraph: lighten($body, 30%);
$date: lighten($body, 50%);
$itemBorder: $lighter_grey;
.featured-category-list-container
{
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  ul
  {
    list-style-type: none;
    padding: 0;
  }
  h2+&
  {
    margin-left: 0;
  }
  &:last-child
  {
    margin-right: 0;
  }
  h4
  {
    margin: 0;
    margin-top: 1em;
    font-weight: 700;
    font-size: 2em;
    background: $categoryBg;
    padding: 0.5em;
  }
}
.featured-main-container
{
  display: inline-block;
  width: 64%;
  margin-right: 2%;
  overflow: hidden;
}
.featured-category-list-item
{
  display: inline-block;
  vertical-align: top;
  width: 24%;
  h3
  {
    color: $headlineColor;
    font-family: $ugly_headline;
    font-size: 1.4em;
    margin-bottom: 0.6em;
    .wf-active &
    {
      font-family: $headline;
      font-size: 1.3em;
    }
  }
  small
  {
    font-size: 1em;
    color: $date;
  }
  i
  {
    padding-right: 4px;
  }
  p
  {
    color: $paragraph;
  }
  a
  {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    &:hover
    {
      color: $headlineColorHover;
    }
  }
  article h3
  {
    font-size: 2em;
    .wf-active &
    {
      font-size: 1.9em;
    }
  }
  figure
  {
    margin: 0;
    width: 100%;
    img
    {
      width: 100%;
    }
  }
  &:first-child
  {
    padding-bottom: 1em;
  }
  &:last-child
  {
    border: none;
  }
}
@media only screen and (max-width: 900px){
  .featured-category-list-item
  {
    width: 48%;
    margin-right: 2%;
    &:nth-child(even)
    {
      margin: 0;
    }
  }
}
@media only screen and (max-width: 767px){
  .featured-main-container
  {
    width: 100%;
  }
  .featured-category-list-container
  {
    h4
    {
      font-size: 1.4em;
    }
  }
}
@media only screen and (max-width: 600px){
  .featured-category-list-container
  {
    width: 100%;
    margin: 0;
  }
}
@media only screen and (max-width: 479px){
  .featured-category-list-container
  {
    ul
    {
      margin-top: 0;
    }
  }
  .featured-category-list-item
  {
    h3
    {
      font-size: 1.2em;
    }
    article h3
    {
      font-size: 1.3em;
      .wf-active &
      {
        font-size: 1.3em;
      }
    }
  }
}
