.contact
{
  overflow: hidden;
  margin-bottom: 2em;
}
.contact-container
{
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  width: 46%;
  margin-left: 4%;
  &:first-child
  {
    margin-left: 0;
  }
}
.contact-form
{
  label
  {
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  small
  {
    display: block;
    text-align: right;
    padding-right: 10px;
    font-style: italic;
    color: $base_red;
  }
  input[type="text"], input[type="email"], textarea
  {
    outline: none;
    border: 2px solid lighten($lighter_grey, 20%);
    width: 92%;
    padding: 0.8em 3%;
    margin-bottom: 10px;
    &:focus
    {
      border: 2px solid $lighter_grey;
    }
  }
}

.contact-map{
  position: relative;
  padding-bottom: 46%;
  height: 0;
  overflow: hidden;
  text-align: right;
  iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important;
  }
}


@media only screen and (max-width: 1000px)
{
  .contact-map
  {
    padding-bottom: 60%;
  }
}
@media only screen and (max-width: 800px)
{
  .contact-map
  {
    padding-bottom: 75%;
  }
}

@media only screen and (max-width: 767px)
{
  .contact-form
  {
    margin-top: 3em;
  }
  .contact-container
  {
    width: 100%;
    margin: 0;
  }
}
