$headlineColor: $black;
$headlineColorHover: $base_red;
$paragraph: lighten($body, 40%);
.gallery
{
  overflow: hidden;
  width: 100%;
  article
  {
    overflow: hidden;
  }
  figure
  {
    margin: 0;
    img
    {
      width: 100%;
    }
  }
  a
  {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    &:hover
    {
      color: $headlineColorHover;
    }
  }
}
.gallery-current, .gallery-list
{
  padding-top: 2em;
  display: inline-block;
  vertical-align: top;
}
.gallery-current
{
  width: 72%;
  padding-right: 2%;
  h3
  {
    font-family: $ugly_headline;
    color: $headlineColor;
    margin: 0.6em 0;
    font-size: 2em;
    .wf-active &
    {
      font-family: $headline;
    }
  }
  p
  {
    color: $paragraph;
    font-size: 1.1em;
    margin-top: 0;
  }
}
.gallery-list
{
  float: right;
  overflow: scroll;
  width: 25.5%;
}
.gallery-list-item
{
  h3
  {
    font-family: $ugly_headline;
    color: $headlineColor;
    margin-top: 0.6em;
    margin-bottom: 1.5em;
    font-size: 1.4em;
    .wf-active &
    {
      font-family: $headline;
    }
  }
}

@media only screen and (max-width: 767px){
  .gallery-current
  {
    h3
    {
      font-size: 1.8em;
    }
  }
  .gallery-list-item
  {
    h3
    {
      font-size: 1.3em;
    }
  }
}

@media only screen and (max-width: 600px){
  .gallery-current, .gallery-list
  {
    width: 100%;
  }

  .gallery-list-item
  {
    width: 30%;
    margin-right: 3%;
    display: inline-block;
    &:last-child
    {
      margin-right: 0;
    }
  }
}
@media only screen and (max-width: 480px){
  .gallery-current
  {
    h3
    {
      font-size: 1.4em;
    }
    p
    {
      font-size: 1em;
    }
  }
  .gallery-list-item
  {
    width: 100%;
    h3
    {
      font-size: 1.3em;
    }
  }
}
