$date: $base_red;
$tagBg: lighten($lighter_grey, 10%);
$tagHoverBg: lighten($tagBg, 15%);
$tag: $dark_grey;
$tagHover: $base_red;
.article-content, .article-info
{
  figure
  {
    position: relative;
    margin: 0;
  }
  img
  {
    width: 100%;
  }
}
.article-content
{
  blockquote
  {
    font-size: 1.2em;
    font-style: italic;
    &:before
    {
      content: '"';
    }
  }
  p,li
  {
    font-size: 1em;
  }
  h2, h3, h4
  {
    font-family: $ugly_headline;
    margin: 0.5em 0 0.5em 0;
    .wf-active &
    {
      font-family: $headline;
    }
  }
  h2
  {
    font-size: 1.8em;
  }
  h3
  {
    font-size: 1.5em;
  }
  h4
  {
    font-size: 1.3em;
  }
}
.article-info
{
  width: 80%;
  padding: 0 10% 1em 10%;
  .article-title
  {
    font-size: 2.6em;
    line-height: 1.2;
    margin: 0.25em 0;
    letter-spacing: 1px;
    font-family: $ugly_headline;
    .wf-active &
    {
      font-family: $headline;
    }
  }
  .twitter-share-button
  {
    margin-bottom: -6px;
    margin-left: 10px;
  }
  figure
  {
    margin-top: 1em;
  }
  small
  {
    color: $date;
    font-size: 1.2em;
  }
  .article-blurb
  {
    font-size: 1.2em;
    line-height: 1.4;
  }
}
.article-tags
{
  clear: both;
  margin-top: 2em;
  padding-bottom: 1em;
  a
  {
    font-size: 1em;
    line-height: 1.4;
    text-decoration: none;
    padding: 6px 12px 8px;
    background: $tagBg;
    color: $tag;
    font-family: $ugly_headline;
    .wf-active &
    {
      font-family: $headline;
    }
    &:hover
    {
      background: $tagHoverBg;
      color: $tagHover;
    }
  }
}

@media only screen and (max-width: 800px)
{
  .article-info
  {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 600px)
{
  .article-info
  {
    .article-title
    {
      font-size: 2em;
    }
    small
    {
      font-size: 0.8em;
    }
    .article-blurb
    {
      font-size: 1em;
    }
  }
}

@media only screen and (max-width: 480px)
{
  .article-info
  {
    .article-title
    {
      font-size: 1.4em;
    }
  }
}
