$paragraph: lighten($body, 20%);
.magazine
{
  padding: 1em 0;
  article
  {
    overflow: hidden;
  }
  figure
  {
    margin: 0 10%;
    img
    {
      width: 100%;
    }
  }
  h4
  {
    text-align: right;
    margin: 0;
    margin-right: 6%;
    padding-right: 1%;
    font-size: 2.8em;
    font-family: $ugly_display;
    .wf-active &
    {
      font-family: $display;
    }
  }
  h3
  {
    font-size: 2em;
    font-family: $ugly_headline;
    margin-bottom: 0;
    margin-top: 0;
    .wf-active &
    {
      font-family: $headline;
    }
  }
  p
  {
    color: $paragraph;
    font-size: 1.1em;
    margin-bottom: 2em;
  }
}
.mag
{
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  width: 39%;
  padding: 1em 0;
  &:first-child
  {
    margin-top: 2em;
  }
  &:last-child
  {
    width: 33%;
  }
  &.center
  {
    width: 24%;
  }
}

@media only screen and (max-width: 900px) {
  .magazine
  {
    h3
    {
      font-size: 2em;
    }
    p
    {
      font-size: 1em;
    }
    h4
    {
      font-size: 2.4em;
    }
  }
  .mag
  {
    width: 34%;
    &.center
    {
      width: 30%;
    }
  }
}
@media only screen and (max-width: 767px) {
  .magazine
  {
    h4
    {
      font-size: 2.3em;
    }
  }
}
@media only screen and (max-width: 600px) {
  .magazine
  {
    h3
    {
      font-size: 1.8em;
    }
    h4
    {
      text-align: left;
    }
  }
  .mag
  {
    width: 35%;
    &.center
    {
      float: left;
      width: 64%;
    }
    &:last-child
    {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 480px) {
  .magazine
  {
    h4
    {
      font-size: 2em;
    }
  }
  .mag
  {
    width: 100%;
    &.center
    {
      width: 100%;
    }
    &:first-child
    {
      margin-top: 0em;
    }
    &:last-child
    {
      margin-bottom: 1em;
    }
  }
}
