$paragraph: lighten($body, 30%);
$date: lighten($body, 50%);
$headlineColor: $black;
$headlineColorHover: $base_red;
.latest
{
  overflow: hidden;
  article
  {
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
    p
    {
      color: $paragraph;
      font-size: 1.15em;
      margin-top: 0.5em;
      margin-bottom: 1.5em;
    }
    small
    {
      font-size: 1em;
      color: $date;
    }
    i
    {
      padding-right: 4px;
    }
    h3
    {
      font-family: $ugly_headline;
      color: $headlineColor;
      font-size: 1.9em;
      font-weight: 700;
      margin: 0;
      margin-bottom: 0.4em;
      a
      {
        color: inherit;
        text-decoration: none;
        cursor: pointer;
        &:hover
        {
          color: $headlineColorHover;
        }
      }
      .wf-active &
      {
        font-family: $headline;
      }
    }
    &.latest-list-item
    {
      h3
      {
        font-size: 1.3em;
      }
      p
      {
        font-size: 1.1em;
      }
    }
  }
}

.latest-list
{
  width: 47%;
  display: inline-block;
}

.latest-list-item
{
  display: inline-block;
  width: 45%;
  margin: 0 4%;
  &:nth-child(even)
  {
    margin-right: 0%;
  }
  &:nth-child(odd)
  {
    margin-left: 0%;
  }
  h3
  {
    font-size: 2em;
  }
}

.latest-featured
{
  width: 50%;
  margin-right: 2%;
  figure
  {
    margin: 0;
    margin-bottom: 1em;
    width: 100%;
    img
    {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 1100px){
  .latest
  {
    article
    {
      &.latest-list-item
      {
        h3
        {
          font-size: 1.4em;
        }
        p
        {
          font-size: 1em;
        }
      }
    }
  }
}
@media only screen and (max-width: 900px){
  .latest-featured
  {
    width: 100%;
    margin: 0;
  }
  .latest-list
  {
    width: 100%;
  }
}
@media only screen and (max-width: 600px){
  .latest-list-item
  {
    width: 100%;
    margin: 0;
  }
}
