$sectionborder: $lighter_grey;
$paragraph: lighten($body, 30%);
$date: lighten($body, 50%);
$headlineColor: $black;
$headlineColorHover: $base_red;
.most-read
{
  overflow: hidden;
  vertical-align: top;
}
.most-read-list
{
  display: inline-block;
  width: 30%;
  margin-right: 2%;
  margin-top: 1em;
  vertical-align: top;
  &.last
  {
    .most-read-item
    {
      padding-bottom: 1em;
      margin-bottom: 1em;
      border-bottom: 1px solid $sectionborder;
      &:last-child
      {
        border: none;
      }
    }
  }
}
.most-read-item
{
  h2+&
  {
    h3
    {
      margin-top: 0.5em;
    }
  }
  figure
  {
    margin-left: 0;
    width: 100%;
    img
    {
      width: 100%;
    }
  }
  h3
  {
    font-family: $ugly_headline;
    color: $headlineColor;
    font-size: 1.3em;
    margin-bottom: 0.2em;
    margin-top: 0;
    a
    {
      color: inherit;
      text-decoration: none;
      cursor: pointer;
      &:hover
      {
        color: $headlineColorHover;
      }
    }
    .wf-active &
    {
      font-family: $headline;
    }
  }
  small
  {
    font-size: 1em;
    color: $date;
  }
  i
  {
    padding-right: 4px;
  }
  p
  {
    color: $paragraph;
    font-size: 1.1em;
    margin-top: 0.2em;
  }
}

@media only screen and (max-width: 900px){
  .most-read-list
  {
    width: 100%;
    &.last
    {
      width: 60%;
    }
  }
}
@media only screen and (max-width: 767px){
  .most-read-list.last
  {
    width: 100%;
  }
}
