.not-found
{
  overflow: hidden;
  min-height: 50vh;
  text-align: center;
  .container
  {
    border: 3px solid $light_grey;
    margin-top: 6vh;
    margin-bottom: 10vh;
  }
  h1
  {
    margin: 0;
    line-height: 1.4;
  }
  h2
  {
    font-size: 4em;
    margin: 0;
    line-height: 1.4;
    font-family: $ugly_display;
    .wf-active &
    {
      font-family: $display;
    }
  }
  p
  {
    a
    {
      font-weight: 700;
    }
  }
}
