$navBorder: lighten($light_grey, 10%);
$headerTopBorder: lighten($light_grey, 30%);
$headerInfoCharm: $base_red;
$navLink: $body;
$navLinkHoverBg: lighten($lighter_grey, 20%);
$navLinkHoverColor: $base_red;
$searchLink: $lighter_grey;
$searchLinkHover: $base_red;
header
{
  border-top: 1px solid $headerTopBorder;
  overflow: hidden;
  margin: 0 auto 2em auto;
  width: 100%;
}

nav
{
  width: 100%;
  border-top: 2px solid $navBorder;
  border-bottom: 2px solid $navBorder;
  a
  {
    text-decoration: none;
    color: $navLink;
    padding: 0.4em 0.75em 0.2em;
    font-size: 1.25em;
    cursor: pointer;
    margin-bottom: 0.2em;
    &:hover
    {
      color: $navLinkHoverColor;
    }
  }
  ul
  {
    margin-left: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    li
    {
      display: inline-block;
    }
  }
}

.header-search
{
  white-space: nowrap;
  position: absolute;
  right: 0;
  padding: 0;
  margin-top: -10px;
  width: 40px;
  -webkit-transition: all 500ms ease-out 250ms;
  -moz-transition: all 500ms ease-out 250ms;
  -o-transition: all 500ms ease-out 250ms;
  transition: all 500ms ease-out 250ms;
  a
  {
    float: left;
    color: $searchLink;
    font-size: 1.6em;
    padding-left: 0;
    padding-right: 0;
    width: 4%;
    min-width: 40px;
    margin-top: -8px;
    &:hover
    {
      border: none;
      color: $searchLinkHover;
    }
  }
  input
  {
    display: inline;
    margin-top: 2px;
    width: 92%;
    padding: 0.5em 0;
    outline: none;
    border: none;
    font-family: $ugly_body_type;
    .wf-active &
    {
      font-family: $body_type;
    }
    &:focus
    {
      border-bottom: 1px solid $lighter_grey;
    }
  }
  &.active
  {
    width: 99%;
    background: $white;
    a
    {
      color: $searchLinkHover;
    }
  }
}

.header-logo
{
  overflow: hidden;
  text-align: center;
  padding: 1.5em 0 1em;
  position: relative;
}
.header-info
{
  margin-top: -0.5em;
  p
  {
    display: inline-block;
    &:before
    {
      padding: 1em;
      content: "|"
    }
    &:first-child:before
    {
      padding: 0;
      content: "";
    }
  }
}

@media only screen and (max-width: 900px){
  .header-logo
  {
    img
    {
      float: left;
      margin-left: -11px;
    }
  }
  .header-info
  {
    clear: left;
    text-align: left;
  }
}
@media only screen and (min-width: 801px){
  nav
  {
    display: block !important;
  }
}
@media only screen and (max-width: 800px){
  nav
  {
    display: none;
    ul
    {
      margin-bottom: 0;
      li
      {
        border-bottom: 1px solid lighten(#ccc, 10%);
        display: block;
        padding-bottom: 1em;
        margin-bottom: 1em;
        &:last-child
        {
          border: none;
          margin-bottom: 0;
        }
      }
    }
  }
  .header-search
  {
    border: none;
  }
}
@media only screen and (max-width: 767px){
  .header-logo
  {
    img
    {
      margin-left: -1%;
      width: 50%;
    }
  }
  .header-info
  {
    display: none;
  }
}
@media only screen and (max-width: 600px){
  .header-search
  {
    a
    {
      width: 6%;
    }
    input
    {
      margin-top: 7px;
    }
  }
  .header-logo
  {
    img
    {
      margin-left: -1.2%;
      width: 60%;
    }
  }
}
@media only screen and (max-width: 480px){
  .header-logo
  {
    img
    {
      float: none;
      width: 80%;
      margin: 0 auto;
    }
  }
}
