$footerbg: lighten($black, 20%);
$copybg: $light_grey;
$paragraph: darken($white, 30%);
footer
{
  background: $footerbg;
  width: 100%;
  overflow: hidden;
  padding: 1.2em 0;
  display: table;
}
.footer-block
{
  vertical-align: middle;
  overflow: hidden;
  display: table-cell;
  width: 22%;
  padding-left: 4%;
  &:first-child
  {
    padding-left: 0;
  }
  p
  {
    color: $paragraph;
    width: 90%;
  }
  .social
  {
    a:hover
    {
      color: $paragraph;
    }
  }
}
.footer-logo
{
  padding-left: 0;
  width: 40%;
  img
  {
    width: 100%;
  }
}
.footer-copy
{
  width: 100%;
  background: $copybg;
  overflow: hidden;
  padding: 0.4em 0;
  p
  {
    display: inline-block;
    width: 20%;
  }
  a
  {
    color: darken(white, 10%);
    text-decoration: none;
    &:hover
    {
      text-decoration: underline;
    }
  }
  ul
  {
    padding-left: 0;
    display: inline-block;
    float:right;
    text-align: right;
    list-style-type: none;
    li
    {
      display: inline-block;
      padding: 0 0.4em;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .footer-block
  {
    p
    {
      font-size: 0.8em;
    }
  }
  .footer-copy
  {
    p
    {
      width: 40%;
    }
    ul
    {
      width: 60%;
      li
      {
        padding: 0 2% 2% 2%;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  footer
  {
    position: relative;
  }
  .footer-block
  {
    width: 40%;
    float: right;
    clear: right;
    display: inline-block;
    &.footer-contact-info
    {
      float: left;
    }
  }
  .footer-copy
  {
    p
    {
      margin-bottom: 10px;
    }
    ul
    {
      display: block;
      width: 100%;
      text-align: left;
      margin: 0;
      li
      {
        padding-bottom: 1%;
        &:first-child
        {
          padding-left: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .footer-block
  {
    p
    {
      font-size: .9em;
      &:first-child
      {
        margin-top: 20%;
      }
    }
    &.footer-contact-info
    {
      width: 80%;
    }
    &:last-child
    {
      margin-top: 14%;
      width: 12%;
      float: right;
    }
    &.footer-logo
    {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .footer-copy
  {
    p
    {
      width: 100%;
    }
    ul
    {
      li
      {
        width: 46%;
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 0.5em;
      }
    }
  }
}
