$newsbg: lighten($lighter_grey, 20%);
.newsletter
{
  overflow: hidden;
  width: 100%;
  padding: 1.5em 0;
  background: $newsbg;
  h4
  {
    font-family: $ugly_headline;
    font-size: 2.6em;
    margin: 0;
    .wf-active &
    {
      font-family: $headline;
    }
  }
  p
  {
    display: inline-block;
    font-size: 1.2em;
    width: 60%;
  }
  small
  {
    display: block;
    text-align: right;
    font-style: italic;
  }
}
.newsletter-form-container
{
  float: right;
  display: inline-block;
  width: 30%;
  input
  {
    border: none;
    width: 92%;
    padding: 0.8em 4%;
  }
}

@media only screen and (max-width: 600px) {
  .newsletter
  {
    h4
    {
      font-size: 2.2em;
    }
    p
    {
      width: 50%;
      font-size: 1em;
    }
  }
  .newsletter-form-container
  {
    width: 40%;
  }
}

@media only screen and (max-width: 480px) {
  .newsletter
  {
    p
    {
      width: 100%;
    }
  }
  .newsletter-form-container
  {
    width: 100%;
  }
}
