<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Contacto News</title>
  <link rel="stylesheet" href="css/article.css">
  <!-- completar estas tags con informacion relevante de la pagina -->
  <meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Your Website Title" />
  <meta property="og:description"   content="Your description" />
  <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="https://davidwalsh.name/twitter-cards">
  <meta name="twitter:title" content="How to Create a Twitter Card">
  <meta name="twitter:description" content="Twitter's new Twitter Cards API allows developers to add META tags to their website, and Twitter will build card content from links to a given site.">
  <meta name="twitter:image" content="https://davidwalsh.name/wp-content/themes/punky/images/logo.png">
  <!-- /completar estas tags con informacion relevante de la pagina -->
</head>
<body>
  <div class="wrapper">
    <div class="ad-container">
      <div class="container">
        <div class="ad ad-leaderboard"></div>
        <div class="ad ad-full"></div>
        <div class="ad ad-full"></div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="header-logo">
          <img src="/img/logo.png" alt="Logo Contacto News">
          <div class="header-info">
            <p>Asunción, Paraguay</p>
            <p>Viernes 6 de enero de 2017</p>
            <p>40°C Despejado</p>
          </div>
          <div class="social">
            <ul>
              <li><a href="https://twitter.com/contactoeditor"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="https://www.facebook.com/contactoeditor"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="mobile-menu-button">
          <a id="mmt" href="#"><i class="fa fa-bars" aria-hidden="true"></i>&nbsp;</a>
        </div>
        <nav class="js-nav">
          <ul>
            <li class="header-search">
              <form action="#">
                <a id="st" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                <input type="text" name="term" placeholder="Ingrese término y presione enter...">
              </form>
            </li>
            <li><a href="#">Viajes</a></li>
            <li><a href="#">Areolíneas</a></li>
            <li><a href="#">Destinos</a></li>
            <li><a href="#">Viajes</a></li>
            <li><a href="#">Areolíneas</a></li>
            <li><a href="#">Destinos</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <article>
      <div class="container">
        <div class="article-info">
          <div class="category in-article"><a href="#">Hoteles</a></div>
          <h1 class="article-title">Walt Disney World estrenará nuevas atracciones</h1>
          <small><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;6 de enero</small>
          <p class="article-blurb">Con  6.500 empleados y más de 25 mil conexiones semanales, Air France celebró el vigésimo aniversario de su hub en el Aeropuerto Charles de Gaulle. Desde hace 20 años, Air France ha invertido en mejoras y modernizaciones en  este aeropuerto para mejorar su desempeño operativo.</p>
          <div style="margin-top: -10px" class="fb-share-button"
            data-href="http://www.your-domain.com/your-page.html"
            data-layout="button">
          </div>
          <a class="twitter-share-button" href="https://twitter.com/intent/tweet">Tuitear</a>
          <figure class="cycle-slideshow"
            data-cycle-swipe=true
            data-cycle-swipe-fx=scrollHorz
            data-cycle-caption="#custom-caption"
            data-cycle-caption-template="{{cycleTitle}}"
            data-cycle-timeout=0
            data-cycle-auto-height="4:3"
            data-cycle-prev="#prev"
            data-cycle-next="#next">
            <img src="/img/nota.jpg" alt="Imagen de la nota" data-cycle-title="Imagen de la nota">
            <img src="/img/gallery.jpg" alt="Imagen de la galeria" data-cycle-title="Imagen de la galeria">
            <div class="gallery-nav">
              <a href="#" class="prev" id="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
              <a href="#" class="next" id="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </figure>
          <p class="article-blurb" id="custom-caption"></p>
          <div class="article-tags">
            <a href="#">Disney</a> <a href="#">Air France</a> <a href="#">Flying Blue</a>
          </div>
          <div class="ad-container">
            <div class="container">
              <div class="ad ad-leaderboard"></div>
            </div>
          </div>
          <div class="article-list">
            <h5 class="section-title"><span>Noticias Relacionadas</span></h5>
            <ul>
              <li>
                <div class="image">
                  <a href="#">
                    <img src="img/nota.jpg" alt="The World of Avatar">
                  </a>
                </div>
                <div class="text">
                  <a class="list-item-title" href="#">The World of Avatar</a>
                  <p>La compañía cuenta con el programa de viajeros frecuentes Flying Blue, con más de 27 millones de clientes asociados.</p>
                </div>
              </li>
              <li>
                <div class="image">
                  <a href="#">
                    <img src="img/nota.jpg" alt="The World of Avatar">
                  </a>
                </div>
                <div class="text">
                  <a class="list-item-title" href="#">The World of Avatar</a>
                  <p>La compañía cuenta con el programa de viajeros frecuentes Flying Blue, con más de 27 millones de clientes asociados.</p>
                </div>
              </li>
              <li>
                <div class="image">
                  <a href="#">
                    <img src="img/nota.jpg" alt="The World of Avatar">
                  </a>
                </div>
                <div class="text">
                  <a class="list-item-title" href="#">The World of Avatar</a>
                  <p>La compañía cuenta con el programa de viajeros frecuentes Flying Blue, con más de 27 millones de clientes asociados.</p>
                </div>
              </li>
              <li>
                <div class="image">
                  <a href="#">
                    <img src="img/nota.jpg" alt="The World of Avatar">
                  </a>
                </div>
                <div class="text">
                  <a class="list-item-title" href="#">The World of Avatar</a>
                  <p>La compañía cuenta con el programa de viajeros frecuentes Flying Blue, con más de 27 millones de clientes asociados.</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="article-comments">
            <h5 class="section-title"><span>Comentarios</span></h5>
            <div class="fb-comments"
            style="margin-bottom: 1em"
             data-href="http://contacto.dev"
            data-width="100%"
             data-numposts="5"></div>
          </div>
        </div>
      </div>
    </article>
    <section class="newsletter">
      <div class="container">
        <h4>Newsletter</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sit, sed totam quisquam fugit ut accusantium iusto dolores vero consequuntur ad temporibus error quo facilis laboriosam voluptates aut optio in!</p>
        <div class="newsletter-form-container">
          <form action="#">
            <input type="text" name="nombre" placeholder="John Doe">
            <input type="email" name="email" placeholder="johndoe@example.com">
            <input type="submit" value="Suscribirse" class="button alt">
          </form>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="footer-block footer-contact-info">
          <p>Juan E. O`Leary y Manduvirá <br>Edificio El Dorado 2do. Piso</p>
          <p>Asunción, Paraguay <br>CP 1255</p>
          <p>Tel: +595 21 441307 / 451712  <br>+595 21 441307 / 451712</p>
        </div>
        <div class="footer-block footer-logo">
          <a href="#"><img src="/img/logoblanco.png" alt="Logo Contacto News"></a>
        </div>
        <div class="footer-block">
          <div class="social">
            <ul>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <div class="footer-copy">
      <div class="container">
        <p>&copy; 2017 Contacto News</p>
        <ul>
          <li><a href="http://contacto.com.py/">Contacto Turístico</a></li>
          <li><a href="http://www.contactoeditorial.com/">Contacto Editorial</a></li>
          <li><a href="https://vamos.com.py/">Vamos</a></li>
          <li><a href="https://issuu.com/rocioramirezrojas/docs/revista_first_class_2016_baja_45">First Class</a></li>
          <li><a href="http://www.touristique.co/">Touristique</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="fb-root"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/cycle2.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Yeseva One','Playfair Display', 'Lato']
      }
    });
    //families: ['Playfair Display', 'PT Sans', 'Yeseva One', 'Josefin Sans', 'Tinos']
  </script>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8&appId=773015646090650";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <script>window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };

    return t;
  }(document, "script", "twitter-wjs"));</script>
</body>
</html>
